<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<!-- url to a proxy server if used, needs to be in the form of
			 <protocol><address><port> e.g. http://192.168.100.101:3128
			 or http://myproxy.domain.com:3128 or just leave blank if not used -->
		<add key="proxyURL" value="" />
		<!-- authType is either:
			  "basic" - The basic authentication method is a widely used, industry-standard
					    method for collecting user name and password information. When you 
						use Basic authentication, your Web browser displays a dialog box where
					    you can enter your previously assigned Windows 2000/2003 domain account 
						user names and passwords. If unsure as to what you have you can also 
						see http://support.microsoft.com/kb/282805
			  "forms" - Forms authentication can be used on Exchange 2003/2007 and is very different
					    from basic authentication.  If forms based authentication is uses (you'll know
						if your OWA 2003 login page looks like http://www.petri.co.il/images/forms_based4.gif) -->
		<add key="authType" value="forms" />
		<!-- url to the owa server usually https://mail.myDomain.com" -->
		<add key="owaURL" value="https://mailserver.domain.com" />
		<!-- the dns name of your domain, use nbtstat -c at a command prompt if unsure"-->
    <add key="domain" value="myDomain" />
		<!-- network user id that can log into both LDAP and Exchange to perform searches -->
		<add key="userID" value="NetworkID" />
		<!-- password for above user id -->
		<add key="password" value="password" />
		<!-- ldap server: LDAP://server:port/OU=pathToSearch,DC=domain,DC=com -->
		<add key="ldapServer" value="LDAP://server:port/OU=pathToSearch,DC=domain,DC=com" />
		<!-- url to employee.bmp-->
		<add key="image" value="employee.bmp" />
		<!-- IIS web servce url to this web service-->
		<add key="namespace" value="http://YourWebServer/DirectoryWebSvc/" />
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="false">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<trace enabled="true" />
	</system.web>
</configuration>
